*{
	margin:  0;
	padding: 0;
	font-family: Century Gothic;
}

header{

	background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(../21.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 12px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.title{
	position: absolute;
	top: 12%;
	left: 7%;
	transform: translate(-10%,-10%);
}

.title h1{
	color: #fff;
	font-size: 40px;
}

.button{
	position: absolute;
	top: 27.5%;
	left: 13%;
	transform: translate(-10%,-10%);
}

.btn{
	border: #000;
	padding: 10px 30px;
	color: 	#1F618D;
	font-size: 20px;
	background-color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}



.buttom{
	position: absolute;
	top: 39%;
	left: 12%;
	transform: translate(-10%,-10%);
}

.btm{
	border: #000;
	padding: 10px 30px;
	color: 	#1F618D;
	font-size: 20px;
	background-color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btm:hover{
	background-color: #7C1414;
	color: #fff;
	font-size: 20px;
}


.buttoo{
	position: absolute;
	top: 52%;
	left: 13%;
	transform: translate(-10%,-10%);
}

.bto{
	border: #000;
	padding: 10px 30px;
	color: 	#1F618D;
	font-size: 20px;
	background-color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.bto:hover{
	background-color: #7C1414;
	color: #fff;
	font-size: 20px;
}




.content1{
	background-color: none;
	width: 500px;
  	height: 90px;
   	padding: 20px;
  	margin: 20px;
	position: absolute;
	top: 25%;
	left: 4%;
	transform: translate(-10%,-10%); 	
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../12.jpeg);
	height: 13vh;
	background-size: cover;
	background-position: center;


}

.content1 h4{
	color: #fff;
	font-size: 20px;

}


.content2{
	background-color: #48C9B0;
  	width: 500px;
  	height: 70px;
   	padding: 20px;
  	margin: 20px;
	position: absolute;
	top: 46%;
	left: 4%;
	transform: translate(-10%,-10%);
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../12.jpeg);
	height: 10vh;
	background-size: cover;
	background-position: center;


}

.content2 h5{
	color: #fff;
	font-size: 20px;

}

.content3{
	background-color: #FFCCCB;
  	width: 500px;
  	height: 70px;
   	padding: 20px;
  	margin: 20px;
	position: absolute;
	top: 65%;
	left: 4%;
	transform: translate(-10%,-10%);
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../12.jpeg);
	height: 11vh;
	background-size: cover;
	background-position: center;


}

.content3 h6{
	color: #fff;
	font-size: 20px;

}

.image1{
	background-color: none ;
  	width: 50px;
  	height: 50px;
   	padding: 05px;
  	margin: 02px;
	position: absolute;
	top: 25%;
	left: 05%;
	transform: translate(-10%,-10%);


}

.image1 h7{
	color: #000000;
	font-size: 20px;

}

.image2{
	background-color: none;
  	width: 50px;
  	height: 50px;
   	padding: 05px;
  	margin: 02px;
	position: absolute;
	top: 37%;
	left: 05%;
	transform: translate(-10%,-10%);


}

.image2 h8{
	color: #000000;
	font-size: 20px;

}

.image3{
	background-color: none;
  	width: 50px;
  	height: 50px;
   	padding: 05px;
  	margin: 02px;
	position: absolute;
	top: 49%;
	left: 05%;
	transform: translate(-10%,-10%);


}

.image3 h9{
	color: #000000;
	font-size: 20px;

}

.image4{
	background-color: none;
  	width: 80px;
  	height: 80px;
   	padding: 05px;
  	margin: 02px;
	position: absolute;
	top: 03%;
	left: 90%;
	transform: translate(-10%,-10%);



}

.image4 h50{
	color: #000000;
	font-size: 20px;

}

.image4:hover{
	background-color: #fff;
	color: #fff;
	width: 100px;
	height: 100px;
	font-size: 20px;
	top: 05;
	left: 80;

}

